
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Poppins', sans-serif;
  background:linear-gradient(135deg,#0f0c29,#1a0033,#0c0018);
  color:#fff;
}

/*=============== HEADER============================ */
.menu-toggle{
  display:none;
  font-size:24px;
  color:#ff4fb8;
  cursor:pointer;
}

/* ================= MOBILE NAV ================= */


.main-header{
  position:sticky;
  top:0;
  height:75px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0 8%;
  background:rgba(0,0,0,0.4);
  backdrop-filter:blur(12px);
  border-bottom:1px solid rgba(255,255,255,0.08);
  z-index: 1000;
}

.logo{
  font-size:24px;
  font-weight:600;
  color:#fff;
}
.logo span{
  color: #ff4fb8;
    font-family: 'Pacifico', cursive;

}
.nav-links{
  list-style:none;
  display:flex;
  gap:30px;
}

.nav-links a{
  text-decoration:none;
  color:#ddd;
  font-size:15px;
  font-weight:500;
  position:relative;
  transition:0.3s;
}

.nav-links a:hover{
  color:#ff4fb8;
}

.nav-links a::after{
  content:"";
  position:absolute;
  left:0;
  bottom:-6px;
  width:0%;
  height:2px;
  background:#ff4fb8;
  transition:0.3s;
}

.nav-links a:hover::after{
  width:100%;
}

/*==================== HERO========================= */

.hero{
  min-height:calc(100vh - 75px);
  display:flex;
  align-items:center;
  padding:0 8%;
}

.hero-content{
  width:100%;
  max-width:1200px;
  margin:auto;
  display:grid;
  grid-template-columns:1.1fr 0.9fr;
  gap:90px;
  align-items:center;
}


.hero-left h1{
  font-size:58px;
  font-weight:700;
  line-height:1.2;
  margin-bottom:16px;
}

.hero-left span{
  color:#ff4fb8;
}

.hero-left h2{
  font-size:20px;
  font-weight:500;
  margin-bottom:22px;
  letter-spacing:1px;
  color:#d88cff;
}

.hero-left p{
  max-width:480px;
  font-size:16px;
  line-height:1.9;
  color:#cfcfcf;
  margin-bottom:40px;
}
.btns{
  display:flex;
  gap:20px;
}

.btn{
  padding:0 28px;
  height:50px;
  border-radius:50px;
  display:flex;
  align-items:center;
  justify-content:center;
  text-decoration:none;
  font-weight:500;
  font-size:15px;
  transition:all 0.35s ease;
}

.primary{
  background:linear-gradient(90deg,#ff4fb8,#b400ff);
  color:white;
  box-shadow:0 15px 40px rgba(180,0,255,0.35);
}

.primary:hover{
  transform:translateY(-4px);
  box-shadow:0 20px 55px rgba(180,0,255,0.5);
}

.outline{
  border:2px solid #ff4fb8;
  color:#ff4fb8;
}

.outline:hover{
  background:#ff4fb8;
  color:white;
  transform:translateY(-4px);
}
.hero-right{
  display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
}

.image-container{
  position:relative;
  width:420px;
  height:420px;
  display:flex;
  justify-content:center;
  align-items:center;
}
.pink-glow{
  position:absolute;
  width:380px;
  height:380px;
  background:radial-gradient(circle, #ff4fb8 0%, #a100ff 60%, transparent 75%);
  border-radius:50%;
  filter:blur(40px);
  opacity:0.6;
  z-index:1;
}



.outline-shape{
  position:absolute;
  width:360px;
  height:360px;
  border:3px solid #ff4fb8;
  border-radius:60% 40% 70% 30% / 40% 60% 30% 70%;
  animation:rotateShape 10s linear infinite;
  z-index:2;
}



.profile-img{
  width:290px;
  height:290px;
  object-fit:cover;
  border-radius:50%;
  position:relative;
  z-index:3;

  border:4px solid rgba(255,255,255,0.15);

  box-shadow:
    0 25px 60px rgba(255,79,184,0.45),
    inset 0 0 25px rgba(255,255,255,0.08);

  backdrop-filter:blur(4px);

  transition:0.4s ease;
  background:linear-gradient(135deg,#741a5f,#e635c8,#5b0463);

}
.profile-img:hover{
  transform:translateY(-8px) scale(1.03);
}
/* TEXT ANIMATION */
@keyframes fadeInUp{
  0%{
    opacity:0;
    transform:translateY(20px);
  }
  100%{
    opacity:1;
    transform:translateY(0);
  }
}

.animate-text{
  opacity:0;
  animation:fadeInUp 1s forwards;
}

.animate-text.delay1{
  animation-delay:0.4s;
}

.animate-text.delay2{
  animation-delay:0.8s;
}

.animate-text.delay3{
  animation-delay:1.2s;
}


@keyframes fadeInScale{
  0%{
    opacity:0;
    transform:scale(0.8);
  }
  100%{
    opacity:1;
    transform:scale(1);
  }
}

.animate-img{
  opacity:0;
  animation:fadeInScale 1s forwards;
  animation-delay:1.5s; 
}

/*=====================about==================*/

.about-content{
  max-width:1200px;
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:60px;
  align-items:center;
}


.about-me{
  min-height:100vh;
  background: linear-gradient(135deg,#1a0033,#2b0050,#3a0068); 
  display:flex;
  align-items:center;
  padding:0 8%;
}

.about-left{
  display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
}

.about-img-container{
  position:relative;
  width:300px;
  height:300px;
}

.about-img{
  width:100%;
  height:100%;
  border-radius:50%;
  object-fit:cover;
  border:4px solid rgba(255,255,255,0.15);
  box-shadow:0 20px 50px rgba(255,79,184,0.35);
  z-index:2;
  position:relative;
  transition:0.4s ease;
}

.about-img:hover{
  transform:translateY(-6px) scale(1.05);
}

.about-glow{
  position:absolute;
  width:280px;
  height:280px;
  background:radial-gradient(circle,#ff4fb8 0%, #a100ff 60%, transparent 75%);
  border-radius:50%;
  filter:blur(50px);
  opacity:0.5;
  z-index:1;
  top:10px;
  left:10px;
}

.about-right h2{
  font-size:42px;
  font-weight:700;
  margin-bottom:20px;
}

.about-right h2 span{
  color:#ff4fb8;
}

.about-right p{
  font-size:16px;
  line-height:1.8;
  color:#cfcfcf;
  margin-bottom:20px;
}

.about-right .btn{
  margin-top:20px;
}

/*=============================skills==============================*/
.skill-section{
  padding:80px 8%;
  text-align:center;
}

.skill-section h1{
  font-size:42px;
  color:#fff;
  margin-bottom:10px;
}

.skill-section p{
  font-size:16px;
  color:#cfcfcf;
  margin-bottom:50px;
}

.skill-container{
display: flex;
align-items: center;
justify-content: center;
gap: 15px;
}
.skill-content span{
  color: #ff4fb8;
}
.skill-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:200px;
  height: 300px;
  padding:20px;
  border:3px solid #ff4fb8;
  border-radius:15px;
  background:transparent;
  text-align:center;
  transition:0.4s ease;
  cursor:pointer;
}

.skill-item:hover{
  transform:translateY(-8px) scale(1.05);
  box-shadow:0 15px 40px rgba(255,79,184,0.4);
}

.skill-item i{
  font-size:40px;
  color:#ff4fb8;
  margin-bottom:15px;
  display:block;
}

.skill-item h3{
  font-size:20px;
  margin-bottom:10px;
  color:#fff;
}

.skill-item p{
  font-size:14px;
  color:#e0c6ff;
  line-height:1.4;
}
.reveal{
  opacity:0;
  transform:translateY(30px);
  transition:all 0.8s ease-out;
}

.reveal.active{
  opacity:1;
  transform:translateY(0);
}

.reveal.delay1{ transition-delay:0.2s; }
.reveal.delay2{ transition-delay:0.4s; }
.reveal.delay3{ transition-delay:0.6s; }

/*============PROJECT SECTION=================== */

.projects-section{
  padding:100px 8%;
  text-align:center;
  background: linear-gradient(135deg,#1a0033,#2b0050,#3a0068);
}

.projects-section h1{
  font-size:42px;
  margin-bottom:10px;
}

.projects-section h1 span{
  color:#ff4fb8;
}

.projects-section p{
  color:#cfcfcf;
  margin-bottom:60px;
}

.projects-container{
  display:flex;
  justify-content:center;
  align-items:stretch;
  gap:25px;
  flex-wrap:wrap;
}


.project-card{
  width:320px;
  padding:30px;
  border-radius:5px;
  background:rgba(255,255,255,0.05);
  border:1px solid rgba(255,255,255,0.1);
  backdrop-filter:blur(12px);
  text-align:left;
  transition:0.4s ease;
}

.project-card:hover{
  transform:translateY(-10px);
  box-shadow:0 20px 60px rgba(255,79,184,0.35);
  border-color:#ff4fb8;
}

.project-card h3{
  font-size:22px;
  margin-bottom:15px;
  color:#fff;
}

.project-card p{
  font-size:14px;
  line-height:1.6;
  color:#d8cfff;
  margin-bottom:20px;
}



.project-tags{
  margin-bottom:20px;
}

.project-tags span{
  display:inline-block;
  padding:6px 14px;
  margin:4px 6px 4px 0;
  font-size:12px;
  border-radius:20px;
  background:rgba(255,79,184,0.15);
  color:#ff4fb8;
  border:1px solid rgba(255,79,184,0.4);
}



.project-btn{
  display:inline-block;
  padding:10px 22px;
  border-radius:30px;
  background:linear-gradient(90deg,#ff4fb8,#b400ff);
  color:#fff;
  text-decoration:none;
  font-size:14px;
  transition:0.3s ease;
}

.project-btn:hover{
  transform:scale(1.05);
  box-shadow:0 10px 30px rgba(180,0,255,0.4);
}

/* ================= CONTACT SECTION ================= */

.contact-section{
  padding:100px 8%;
  background:linear-gradient(135deg,#0f001f,#1c0038,#2a0052);
}

.contact-container{
  max-width:1200px;
  margin:auto;
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:60px;
  align-items:center;
}

.contact-left{
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.contact-left h1{
  font-size:42px;
  margin-bottom:15px;
}

.contact-left h1 span{
  color:#ff4fb8;
}

.contact-left p{
  color:#cfcfcf;
  margin-bottom:35px;
}

.contact-left form{
  display:flex;
  flex-direction:column;
  gap:18px;
}

.contact-left input,
.contact-left textarea{
  width:100%;
  padding:14px 18px;
  border-radius:12px;
  border:1px solid rgba(255,255,255,0.15);
  background:rgba(255,255,255,0.05);
  color:#fff;
  font-size:14px;
  outline:none;
  transition:0.3s ease;
}

.contact-left input:focus,
.contact-left textarea:focus{
  border-color:#ff4fb8;
  box-shadow:0 0 15px rgba(255,79,184,0.3);
}


.contact-btn{
  margin-top:10px;
  padding:14px;
  border:none;
  border-radius:30px;
  background:linear-gradient(90deg,#ff4fb8,#b400ff);
  color:white;
  font-size:15px;
  cursor:pointer;
  transition:0.3s ease;
}

.contact-btn:hover{
  transform:translateY(-4px);
  box-shadow:0 15px 40px rgba(180,0,255,0.4);
}

.contact-social{
  margin-top:30px;
  display:flex;
  gap:20px;
  align-items: center;
  justify-content: center;
}

.contact-social a{
  width:45px;
  height:45px;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:50%;
  background:rgba(255,255,255,0.05);
  border:1px solid rgba(255,255,255,0.1);
  color:#ff4fb8;
  font-size:18px;
  transition:0.3s ease;
  text-decoration:none;
}

.contact-social a:hover{
  background:linear-gradient(90deg,#ff4fb8,#b400ff);
  color:#fff;
  transform:translateY(-5px);
  box-shadow:0 10px 25px rgba(255,79,184,0.4);
}

.contact-right{
  display:flex;
  justify-content:center;
  align-items:center;
}

.contact-img-container{
  position:relative;
  width:380px;
  display:flex;
  justify-content:center;
  align-items:center;
}

.contact-img{
  width:100%;
  height:auto;
  object-fit:contain;
  display:block;
  position:relative;
  z-index:2;
  transition:0.4s ease;
  filter:drop-shadow(0 25px 60px rgba(255,79,184,0.5));
}

.contact-img:hover{
  transform:scale(1.05);
}

.contact-glow{
  position:absolute;
  width:300px;
  height:300px;
  background:radial-gradient(circle,#ff4fb8 0%, #b400ff 60%, transparent 75%);
  filter:blur(70px);
  border-radius:50%;
  z-index:1;
  opacity:0.6;
}
/*======================FOOTER=================== */
.footer{
  background-color:#1a0033;  
  color:#ccc;
  padding:40px 8%;
  font-family:'Poppins', sans-serif;
  text-align:center;
}

.footer-container{
  max-width:1200px;
  margin:auto;
}

.footer-text{
  margin-bottom:15px;
  font-size:14px;
  color:#aaa;
}

.footer-links{
  margin-bottom:15px;
}

.footer-links a{
  color:#ccc;
  text-decoration:none;
  margin:0 12px;
  font-weight:500;
  transition:0.3s;
}

.footer-links a:hover{
  color:#ff4fb8;
}

.footer-social{
  display:flex;
  justify-content:center;
  gap:12px;
}

.footer-social a{
  width:36px;
  height:36px;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:50%;
  background:#2b0050;
  color:#fff;
  font-size:16px;
  transition:0.3s ease;
  text-decoration:none;
}

.footer-social a:hover{
  background:#ff4fb8;
  color:#fff;
  transform:translateY(-2px);
}

/* Animation */

@keyframes rotateShape{
  from{
    transform:rotate(0deg);
  }
  to{
    transform:rotate(360deg);
  }
}


/*==================================RESPOSIVE======================*/
@media screen and (max-width:900px){

  /* HEADER */
  .main-header{
    padding:0 5%;
  }
  .nav-links{
    gap:20px;
  }

  /* HERO */
  .hero-content{
    grid-template-columns:1fr;  /* single column */
    gap:60px;
    text-align:center;
  }
  .hero-left h1{
    font-size:48px;
  }
  .hero-left h2{
    font-size:18px;
  }
  .hero-left p{
    max-width:100%;
    font-size:15px;
    margin:auto;
  }
  .hero-right .image-container{
    width:320px;
    height:320px;
  }
  .profile-img{
    width:240px;
    height:240px;
  }

  /* ABOUT */
  .about-content{
    grid-template-columns:1fr;
    gap:40px;
    text-align:center;
  }
  .about-img-container{
    width:260px;
    height:260px;
    margin:auto;
  }

  /* SKILLS */
  .skill-container{
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
  }

  /* PROJECTS */
  .projects-container{
    flex-direction:column;
    align-items:center;
  }

  /* CONTACT */
  .contact-container{
    grid-template-columns:1fr;
    gap:40px;
  }
  .contact-img-container{
    width:300px;
  }
}

/* =================== 600px (mobile devices) =================== */
@media screen and (max-width:600px){

  /* HEADER */
  .main-header{
    padding: 15px 3%;
    flex-direction:column;
    height:auto;
    gap:10px;
  }
  .logo{
    font-size: 18px;
  }
  .nav-links{
    flex-direction:column;
    gap:10px;
  }
 .main-header{
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
  }

  .menu-toggle{
    display:block;
    font-size:23px;
    color:#ff4fb8;
    cursor:pointer;
    z-index:1001;
  }

  .nav-links{
    position:fixed;
    top:0;
    left:-100%;
    width:250px;
    height:100vh;
    background:#1a0033;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:30px;
    transition:0.4s ease;
    z-index:1000;
  }

  .nav-links.active{
    left:0;
  }
/*===================HERO====================*/



.hero-content{
display: flex;
flex-direction: column-reverse;
}

.hero-left h1{
  font-size:25px ;
}



.hero-left h2{
  font-size:15px;
  font-weight:300;
  margin-bottom:10px;

}

.hero-left p{
  max-width:300px;
  font-size:13px;
  margin-bottom:15px;
}

.btns{
  display:flex;
  gap:10px;
  justify-content: center;
  align-items: center;
}

.btn{
  padding:0 18px;
  height:30px;
  font-weight:300;
  font-size:10px;
  width: 150px;
}


.outline{
  border:1px solid #ff4fb8;
}


.pink-glow{
  
  width:210px;
  height:210px;

}
.outline-shape{

  width:210px;
  height:210px;
  
}
  .hero{
    padding:20px 5%;
  }

  
  .btns{
    flex-direction:column;
    gap:15px;
  }
  .hero-right .image-container{
    width:210px;
    height:210px;
  }
  .profile-img{
    width:150px;
    height:150px;
  }

  /*===================== ABOUT================ */
  .about-me{
    padding: 40px 32px;
  }
  .about-left, .about-right{
    text-align:center;
  }
  .about-img-container{
    width:180px;
    height:180px;
    margin:auto;
  }
  .about-glow{
    height: 190px;
    width: 190px;
  }
  .about-right h2{
    font-size: 23px;
  }
  .about-right p{
    font-size:11px;
  }
   .about-highlights{
    list-style: none;
    padding: 0;
    margin: 0;
  }

 .about-highlights{
  
  list-style-position: inside;  
  padding: 0 15px;                  
  margin: 0 auto;
  font-size: 11px;             
}

.about-highlights li{
  text-align: justify;         
  margin-bottom: 8px;
}

  /*======================== SKILLS========================== */
  .skill-content h1{
    font-size: 23px;
  }
  .skill-content p{
    font-size: 11px;
  }

  .skill-item{
    width:130px;
    height:220px;
    padding:15px;
  }
  .skill-item h3{
    font-size:13px;
  }
  .skill-item p{
    font-size:11px;
  }
  .skill-item i{
    font-size: 23px;
  }
 
  /* ================PROJECTS=============== */
  .projects-section h1{
    font-size: 23px;
  }
  .projects-section p{
    font-size: 11px;
  }
  .project-card{
    width:100%;
    max-width:250px;
    height: 280px ;
    padding:25px;
    margin:auto;
  }
.project-card h3{
  font-size: 15px;
}
.project-card p{
  font-size: 11px;
}
.project-card span{
  
  font-size: 11px;
}
.project-card a{
  font-size: 11px;
}
  /* ==============CONTACT=============== */
  .contact-container{
    display: flex;
    flex-direction: column-reverse;
  }
  .contact-left h1{
    font-size:23px;
    text-align: center;
  }
  .contact-left p{
    font-size:11px;
    text-align: center;
  }
  .contact-left input,
  .contact-left textarea{
    font-size:11px;
    padding:12px 15px;
  }
  .contact-btn{
    font-size:12px;
    padding:12px;
  }
  .contact-img-container{
    width:200px;
  }
  .contact-social i{
    font-size: 13px;
  }
  .contact-social a{
    height: 35px;
    width: 35px;
  }
  /*==========footer===========*/
  .footer-links a{
    font-size: 11px;
  }
  .footer-text{
  font-size: 11px;
}
.footer-social i{
font-size: 11px;
}
.footer-social a{
  height: 28px;
  width: 28px;
}
}
